<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script>
    <script src="js/example.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/Form.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet" >-->
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/example.js"></script>
    <script src="js/collapse.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/main.css" rel="stylesheet" 
  </head>
  <body>

<div ng-controller="AccordionDemoCtrl">
    <div class = "jumbotron">
            <div class="container">
                <div class = "row">
                    <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p><Strong>Smart</Strong>lock</p>
                    </div>
                    <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <img src = "Images/SmartLockLogo.png" >
                    </div>
                </div>
            </div>
        </div>

    <div>
        <p class = 'description'>Smart lock helps make your passwords more secure</p>
    </div>

</div>
      <div ng-controller = 'formController' class ='password'>
          
        <form novalidate class="simple-form" name = "passwordForm">
    Pin 1 : <input class = "formElement" style ="width:50px" type="number" name="input" ng-model="pins.pin1" min="1" max="9" placeholder = "1-9"required/>
    Pin 2: <input class = "formElement" style ="width:100px" type="number" name="input" ng-model="pins.pin2" min="1" max="100000" placeholder = "1-100000" required />
    String: <input class = "formElement" type="password" ng-model ="password" placeholder = "Password" required/>              
                  <hr>
                  

    <button ng-click="generatePassword()" ng-disabled = "passwordForm.$invalid"/>Generate Password</button>

            <hr>
            
    <span class="result">{{ generatedPassword }}</span>
    
            
  </form>
          
      </div>
      <script src="js/Form.js"></script>    
  </body>
</html>
